@import "../color/colors";
@theme: default;
//所有class的前缀
@fantasy-prefix: fantasy;
//覆盖html选择器前缀
@html-selector: html;

//-------Colors---------
// >>> Primary
@primary-color: @blue-6;
@primary-color-hover: color(~`colorPalette('@{primary-color}', 5) `);
@primary-color-active: color(~`colorPalette('@{primary-color}', 7) `);
@primary-color-outline: fade(@primary-color, @outline-fade);
//base common radius
@line-height-base: 1.5715;
@border-radius-base: 4px;
@border-radius-sm: @border-radius-base;

// Outline
@outline-fade: 20%;


//Buttons
@btn-line-height: @line-height-base;